<div class="instructor-data">
  <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="firstName">First Name</th>
        <th mat-sort-header="lastName">Last Name</th>
        <th>DELETE</th>
      </tr>
    
      <tr *ngFor="let instructor of service.instructors" (click)="onEdit(instructor)">
        <td>{{instructor.firstName}}</td>
        <td>{{instructor.lastName}}</td>
        <td><button mat-raised-button color="warn" (click)="onDelete(instructor.id)">DELETE</button></td>
      </tr>
  </table>
</div>
<br>
<p class="instructor-details-label">Instructor Details</p>
<div>
  <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
    <table>
      <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
      </tr>
      <tr class="instructor-details">
        <td><input name="FirstName" #FirstName="ngModel" [(ngModel)]="service.formData.firstName" class="form-control" placeholder="First name of student" required></td>
        <td><input name="MiddleName" #FirstName="ngModel" [(ngModel)]="service.formData.middleName" class="form-control" placeholder="Middle name of student" required></td>
        <td><input name="LastName" #FirstName="ngModel" [(ngModel)]="service.formData.lastName" class="form-control" placeholder="Last name of student" required></td>
      </tr>
      <button mat-raised-button color="primary" class="instructor-details-button" type="submit" [disabled]="form.invalid">ADD / SAVE</button>
    </table>
  </form>
</div>